In [1]:
# Write a Python program to shuffle and print a specified list
from random import shuffle
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(color)
print(color)

['Pink', 'White', 'Green', 'Black', 'Red', 'Yellow']

In [2]:
#Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included)
l = list()
for i in range(1,31):
    l.append(i**2)
print(l[:5])
print(l[-5:])

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [3]:
#Write a Python program to generate and print a list except for the first 5 elements, where the values are square of numbers between 1 and 30 (both included).
l = list()
for i in range(1,31):
    l.append(i**2)
print(l[5:])

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [4]:
#Write a Python program to generate all permutations of a list in Python.
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [8]:
#Write a Python program access the index of a list.
nums = [5, 15, 35, 8, 98]
for num_index, num_val in enumerate(nums):
    print(num_index, num_val)

0 5
1 15
2 35
3 8
4 98

In [9]:
#Write a Python program to convert a list of characters into a string.
list = ['p','y','t','h','o','n']
str = ''.join(list)
print(str)

python

In [10]:
# Write a Python program to find the index of an item in a specified list
lst = [10, 20, 30, 40, 50]
item = 30
res = lst.index(item)
print(f"The index of {item} in the list is: {res}")

The index of 30 in the list is: 2

In [12]:
#Write a Python program to append a list to the second list.
lst1 = [1, 2, 3, 0]
lst2 = ['Red', 'Green', 'Black']
final_list = lst1 + lst2
print(final_list)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [14]:
# Write a Python program to select an item randomly from a list.
import random
lst = [100,1,2,3,30,40]
print(random.choice(lst))

40

In [21]:
#Write a python program to check whether two lists are circularly identical.
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list1 = list1 + [list1[0]]
list2 = list2 + [list2[0]]
if list1 == list2:
    print("The lists are circularly identical.")
else:
    print("The lists are not circularly identical.")

The lists are not circularly identical.

In [22]:
#Write a Python program to find the second smallest number in a list
list = [10, 20, 4, 45, 99]
list.sort()
print(list[1])

10

In [23]:
#Write a Python program to find the second largest number in a list.
list = [10,20,30,40,50]
list.sort()
print("The second largest number in the list is:",list[-2])

The second largest number in the list is: 40

In [38]:
#Write a Python program to change the position of every n-th value with the (n+1)th in a list.
#Sample list: [0,1,2,3,4,5]
#Expected Output: [0, 3, 2, 5, 4, 1]
list = [0,1,2,3,4,5]
list[1],list[3] = list[3],list[1]
list[3],list[5] = list[5],list[3]
print(list)

[0, 3, 2, 5, 4, 1]

In [45]:
#Write a Python program to convert a string to a list.
str = "hello world"
list = str.split()
print(list)

['hello', 'world']

In [46]:
# Write a Python program to replace the last element in a list with another list.
#Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
#Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]
list1 = [1, 3, 5, 7, 9, 10]
list2 = [2, 4, 6, 8]
list1[-1:] = list2
print(list1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [47]:
#Write a Python program to check if the n-th element exists in a given list.
list = [1,2,3,4,5,6,7,8,9]
n = 5
if n in list:
    print(f"The {n}th element exists in the list")

The 5th element exists in the list

In [50]:
#Write a Python program to check if all dictionaries in a list are empty or not.
#Sample list : [{},{},{}]
#Return value : True
#Sample list : [{1,2},{},{}]
#Return value : False
l=[{},{},{}]
print(all(not d for d in l))
l=[{1,2},{},{}]
print(all(not d for d in l))

True
False

In [52]:
#Write a Python program to remove duplicates from a list of lists.
#Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
#New List : [[10, 20], [40], [30, 56, 25], [33]]
list = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
new_list = []
for i in list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[[10, 20], [40], [30, 56, 25], [33]]